fastapi
uvicorn
langgraph
langchain
langchain-openai
langchain-chroma==0.2.5
chromadb==1.0.17
openai
requests
pydantic
python-dotenv
sqlalchemy
pymysql
cryptography
python-jose[cryptography]
passlib[bcrypt]
redis
httpx
aiohttp
