fastapi
uvicorn
langgraph
langchain
langchain-openai
openai
requests
pydantic
python-dotenv
sqlalchemy
pymysql
cryptography
python-jose[cryptography]
passlib[bcrypt]
redis
httpx
aiohttp
langflow==1.6.4
lfx==0.1.13
# langflow-base==0.5.0.post1
streamlit
gunicorn
